*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: aqua;
    height: 85px;
    width: 1150px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 65px;
}

h2{
    margin-left: 410px;
    padding-top: 25px;
}

.btn{
    background-color: grey;
    height: 220px;
    width: 600px;
    margin-left: 300px;
    margin-top: 30px;
}

.btn label{
    margin-left: 150px;
}

.box1{
    margin-left: 8px;
    margin-top: 15px;
    font-size: 15px;
}

.box2{
    margin-top: 8px;
    font-size: 15px;
}

.box3{
    margin-left: 8px;
    font-size: 15px;
    margin-top: 8px;
}

.btn-box{
    border: none;
    background-color: lightgreen;
    height: 40px;
    width: 90px;
    font-size: 15px;
    margin-left: 115px;
    margin-top: 40px;
}

.btn-box2{
    border: none;
    background-color: red;
    height: 40px;
    width: 90px;
    font-size: 15px;
    margin-left: 45px;
}

.btn-box3{
    border: none;
    background-color: lightblue;
    height: 40px;
    width: 90px;
    font-size: 15px;
    margin-left: 45px;
}

table {
    margin-left: 75px;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  table th, table td{
    border: 1px solid black;
    width: 280px;
    height: 20px;
    /* background-color: silver; */
  }

  table th{
    background-color: silver;
    color: black;
  }

  table td {
    background-color: white;
    color: black;
  }